.Student, .Noob {
  position: relative;
  padding-inline: 1rem;
  margin-inline: 1rem;
}

.Student img, .Noob img {
  width: 5rem;
  border-radius: 50%;
}

.Student.favorite {
  color: orange;
}

.Student .favorite {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  background-color: orange;
  border-radius: 50%;
}
