.friend {
  color: red;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: none;
  padding: none;
}

.App {
  padding: 2rem;
}

.Hat {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.Hat .selector {
  display: grid;
  place-content: center;
  gap: 1rem;
}

.App .houses {
  display: flex;
}

.NoobForm {
  margin-block: 2rem;
}

.NoobForm input {
  margin-inline: 1rem;
}

.houses {
  margin-block: 3rem;
}

.House {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 30rem;
}

.House img {
  width: 10rem;
}

.House ul {
  display: flex;
  flex-wrap: wrap;
}
