.friend {
  color: red;
}

ul {
  list-style: none;
}

.App {
  padding: 2rem;
}

.App .noobs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.App .houses {
  display: flex;
}

.House {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 30rem;
}

.House img {
  width: 10rem;
}

.House ul {
  display: flex;
  flex-wrap: wrap;
}

.Student, .Noob {
  position: relative;
  padding-inline: 1rem;
  margin-inline: 1rem;
}

.Student img, .Noob img {
  width: 5rem;
  border-radius: 50%;
}

.Student.favorite {
  color: orange;
}

.Student .favorite {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
  height: 1rem;
  background-color: orange;
  border-radius: 50%;
}
