.Pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  border: 1px solid black;

  .name {
    font-size: 1.3rem;
  }

  .types {
    display: flex;

    .type {
      margin: 0 0.5rem;
    }
  }
}
