@import '../node_modules/reset-css/reset.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.name {
  color: red;
}

.App {
  .list {
    display: flex;
    flex-wrap: wrap;
  }
}

.Pokemon,
.TrainedPokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;

  .name {
    font-size: 1.3rem;
  }
}

.Trainer {
  display: flex;
  align-items: baseline;
  background: lightblue;

  .name {
    margin: 1rem;
    color: unset;
    font-size: 1.5rem;
  }
}

.PokemonList {
  display: flex;
  flex-wrap: wrap;
}

.Filters {
  display: flex;

  .filter {
    margin: 0 0.5rem;

    &.active {
      font-weight: bold;
    }
  }
}

.trained {
  display: flex;
}
