body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.name {
  color: red;
}

.App {}

.list {
  display: flex;
  flex-wrap: wrap;
}

.Pokemon,
.TrainedPokemon {
  flex: 0 0 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
}

.Pokemon .name, .TrainedPokemon .name {
  font-size: 1.3rem;
}

.Trainer {
  display: flex;
  align-items: baseline;
  background: lightblue;

}

.Trainer .name {
  margin: 1rem;
  color: unset;
  font-size: 1.5rem;
}
